.mainContent {
    width: 80.25em;
    height: fit-content;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    flex-direction: column;

}

table {
    background-color: white;
    border-spacing: 0;
    display: table;
    width: 66em;

}

td {
    display: table-cell;
}

td,
th {
    border: 1px solid #E0E0E0;
    background-color: white;


}

.txtStyleTableHeader {
    color: #2F80ED;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;

}

.MiddleCellStyle {
    padding: 1em;
}

.topCell {

    padding: 1em;

}

.lastCellStyle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.bordericonstyle {
    width: 2em;
    height: 1.5em;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    box-shadow: 0px 4px 2px 0px #00000026;

}

.bordericonstyle:hover {
    transform: scale(1.3);
}

.linkMedicalRecordStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}


.greenBorder {
    border: 1px solid #017849;
}

.blueBorder {
    border: 1px solid #2F80ED;
}

.redBorder {
    border: 1px solid #EB5757;
}

.flexIcons {
    width: 6.25em;
    height: fit-content;
    display: flex;


}
.showIndividualData {
    cursor: pointer;
}
.showIndividualData:hover {
    transform: scale(1.1);
}
.backgroundModalInput {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.71);
    display: none;
}
.backgroundModalInput02 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.71);
    display: none;
}

.newSubscribeModal {
    width: 68.3125em;
    height: fit-content;
    border-radius: 8px;
    background-color: white;
    display: none;

}
.newSubscribeModal02 {
    width: 68.3125em;
    height: fit-content;
    border-radius: 8px;
    background-color: white;
    display: none;
}

.titleModal {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: #00995D;

}
#modalViewTitle {
    display: none;
}

.topModal {
    width: 68.3125em;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 2em 0em 2em;
}

.closeIconModal {
    font-size: 1.5em;
    cursor: pointer;
}

.formModal {
    margin: 3em 2em 3em 0em;
    display: flex;
    flex-wrap: wrap;
}

.inputDivisionFlex {
    width: 63em;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 1.5em;
}

.inputNewSubStyle {
    width: 20.4375em;
    height: 2.995em;
    border-radius: 8px;
    border: 1px solid #BDBDBD;
    padding-left: 1em;
}

.txtModalAlert {
    font-family: 'Poppins', sans-serif;
    font-family: 400;
    color: #616161;
}

.spaceBtw {
    margin: 2em;
}

.btnSalveFlex {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    font-size: 1em;
    gap: 1.5em;
}

.salveBtn {
    all: unset;
    width: 9.1875em;
    height: 3em;
    color: white;
    background-color: #017849;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.cancelBtn {
    all: unset;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #616161;
    cursor: pointer;
}

.modalEndPart {
    width: 68.3125em;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1.5625em 2em 1.5em 2em;

}

.divisionLine {
    width: 68.3125em;
    border: 1px solid #E0E0E0;
}

.inputSearch {
    padding-left: 10px;
}

.btnToEditDate {
    all: unset;
    width: 9.1875em;
    height: 3em;
    color: white;
    background-color: #017849;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
    display: none;
}

/* Estilização do modal */
.backgroundSuccessModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.71);
    display: none;
}
.modalSuccess {
    width: 34.8125em;
    height: fit-content;
    padding: 2.25em;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.imgGifStyle {
    width: 13.375em;
    height: 13.375em;
}

#txtModalSuccess {
    font-weight: 700;
    font-size: 1.5em;
    color: #00995D;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1.25em;
    margin-top: 3.4375em;
}
.txtContentModalSucess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#btnModalSuccessStyle {
    all: unset;
    width: 16.5em;
    height: 3em;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #017849;
    font-family: 'Montserrat', sans-serif;
    font-family: 700;
    cursor: pointer;

}

#btnModalSuccessStyle:hover {
    transform: scale(1.2);
}